<h3>Add a New User</h3>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      {{input value=name id="name" class="form-control"}}
    </div>
    <button class="btn btn-success" {{action 'saveUser'}}>Add User</button>
  </form>
