<div class="userModel">
  <h1>{{user.name}}'s Page</h1>
  <div class="col-md-6">
  <h2>All Questions</h2>
  {{#each questions as |question|}}
    <div class="question">
      {{question.content}}
      <button class="btn-primary" {{action 'addToFavorites'}}>Add to favorites</button>
    </div>
  {{/each}}
  </div>
  <div class="col-md-6">
    <h2>Favorite Questions</h2>
    {{#each favoriteQuestions.favorites as |question|}}
      {{question.content}}
    {{/each}}
  </div>
</div>
