.header {
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 75px;
  color: #206600;
}
.questions {
  text-align: center;
}
.boxModel {
  margin-right: 320px;
  margin-left: 320px;
  margin-bottom: 50px;
  border: 5px solid #0f3300;
  background-color: #ccffb3;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 10px 10px 5px #2a8000;
}
.boxModel a {
  color: black;
}
button {
  margin: 20px;
}

body {
  background: url(https://d1yn1kh78jj1rr.cloudfront.net/preview/colorful-splash-frame_7kM4Nf_M.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}
nav {
  margin-left: 300px;
  margin-right: 300px;
  background-color: red;
  text-align: center;
  background-color: #184d00;
}
.sorter {
  border-radius: 5px;
}

.navbar {
  border: 3px solid #ccffb3;
}
nav a {
  color: white;
  font-size: 26px;
  margin: 40px;
}
