<div class="boxModel">
  <div class="questions">
    <h1>Questions</h1>
    <h5>Click a question to view answers</h5>
    {{new-question saveQuestion="saveQuestion"}}
    {{question-tile questions=model.questions update="update" destroyQuestion="destroyQuestion"}}
  </div>
</div>
