<div class="boxModel">

  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{new-answer question=model saveAnswer="saveAnswer"}}


  {{answer-detail answers=model.answers saveAnswer="saveAnswer" destroyAnswer="destroyAnswer"}}

</div>
